body {
  font-family: Helvetica;
}

.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found h1 {
  font-size: 5em;
  color: #ff0000;
}

.not-found p {
  font-size: 1.5em;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
}

.not-found a:hover {
  text-decoration: underline;
}

a:hover {
  color: darkgreen !important;
}

.linkedinIcon {
  pointer-events: none;
  animation: linkedinIconRotatingAnimation 4.88s linear forwards infinite;
}

.readingModeFontOption:hover {
  background-color: #f5f5f5;
  color: black !important;
}

.threeDimensionalDiv {
  --bottom-color: #999;
  --right-color: #ddd;

  box-shadow:
    1px 0 0 var(--right-color),
    1px 1px 0 var(--bottom-color),
    2px 1px 0 var(--right-color),
    2px 2px 0 var(--bottom-color),
    3px 2px 0 var(--right-color),
    3px 3px 0 var(--bottom-color),
    4px 3px 0 var(--right-color),
    5px 6px 0 var(--bottom-color);
}

#neonName {
  animation: neonNameAnimation 4.5s linear forwards;
  animation-iteration-count: 1;
}

#curvyArrow {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  animation: curvyArrowAnimation 3.8s linear infinite;
  animation-delay: 2.7s;
}

@keyframes colorWaveAnimation {
  0% {
    color: black;
  }
  50% {
    color: goldenrod;
  }
  100% {
    color: black;
  }
}

@keyframes linkedinIconRotatingAnimation {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 45deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -45deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes neonNameAnimation {
  0% {
    color: white;
    text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px darkslategray,
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;
  }

  25% {
    color: white;
    text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px darkslategray,
    0 0 42px #1521cf,
    0 0 82px #1521cf,
    0 0 92px #1521cf,
    0 0 102px #1521cf,
    0 0 151px #1521cf;
  }

  50% {
    color: white;
    text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px darkslategray,
    0 0 42px #1ba830,
    0 0 82px #1ba830,
    0 0 92px #1ba830,
    0 0 102px #1ba830,
    0 0 151px #1ba830;
  }

  75% {
    color:#022b08;
    text-shadow:
    0 0 7px #022b08,
    0 0 10px #022b08,
    0 0 21px#022b08,
    0 0 42px #022b08,
    0 0 82px #022b08,
    0 0 92px #022b08,
    0 0 102px white,
    0 0 151px white;
  }

  100% {
    color: black;
  }
}

@keyframes curvyArrowAnimation {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 0%, 50% 0%, 50% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }
  75% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 38em) {
  #briefIntroInspiringQuote {
    display: none;
  }
}

@media (max-width: 65em) {
  #relevantExperienceImgOrVidSection {
    display: none !important;
  }
}

