body {
    font-family: Helvetica;
}

.not-found {
    text-align: center;
    margin-top: 50px;
}

.not-found h1 {
    font-size: 5em;
    color: #ff0000;
}

.not-found p {
    font-size: 1.5em;
}

.not-found a {
    color: #007bff;
    text-decoration: none;
}

.not-found a:hover {
    text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */

a:hover {
    color: darkgreen !important;
}

@keyframes colorWave {
    0% { color: black; }
    50% { color: goldenrod; }
    100% { color: black; }
}

@keyframes smoothColorChangingForGoldenStandardsSection {
    0% { background: linear-gradient(to right, #33ccff 50%, #ff6666 50%) }
    25% { background: linear-gradient(to right, #33ccff 37.5%, #ff6666 62.5%) }
    50% { background: linear-gradient(to right, #33ccff 25%, #ff6666 75%) }
    75% { background: linear-gradient(to right, #33ccff 12.5%, #ff6666 87.5%) }
    100% { background: linear-gradient(to bottom right, #33ccff 0%, #ff6666 100%) }
}

.linkedinIcon {
    pointer-events: none;
    animation: linkedinIconRotatingAnimation 4.88s linear forwards infinite;
}

@keyframes linkedinIconRotatingAnimation {
    0% { rotate: 0deg; }
    25% { rotate: 45deg; }
    50% { rotate: 0deg; }
    75% { rotate: -45deg; }
    100% { rotate: 0deg; }
}

.readingModeFontOption:hover {
    background-color: #f5f5f5;
    color: black !important;
}