<div #relevantExperience #readingModeOff *ngIf="!readingModeOn" style="width: 105%; margin-left: -0.5em; position: relative;
display: flex; align-items: center; justify-content: center; box-sizing: border-box; gap: 16%; padding-top: 45em; padding-bottom:
5em; padding-left: 5em; padding-right: 5em;">
    <div style="width: 40em;">
        <h1>Relevant Experience</h1>
        <p style="max-width: 80%; line-height: 1.4; font-family: Roboto;">
            Since I began my journey of applying for jobs(<b>Jun 15, 2025</b>), I have not yet been employed in any relevant 
            position. However, I have a comprehensive project, done all by myself, that more than makes up for my lack of
            formal, relevant employment experience — <b>Megagram</b>. This <b>12-month-long commitment</b> has been pivotal in
            <b>deepening my understanding of both foundational and advanced aspects</b> of full-stack web development, database
            management, and cloud service integration. Initially, I worked on <b>9 repositories within my Megagram GitHub
            organization</b>. But to avoid needless repetitive work in an unpaid project and to <b>do more with less</b>, I
            chose to concentrate on <b>3 key repositories</b>(each with <b>MUST-READ DISCLAIMERS</b> in their READMEs) that
            <b>more than suffice to demonstrate the depth of my abilities</b>: <a
            href="https://github.com/MegaGramProject/Login-Register" target="_blank" rel="noopener noreferrer"
            style="font-weight: bold;">Login-Register</a>, <a href="https://github.com/MegaGramProject/Reset-Password"
            target="_blank" rel="noopener noreferrer" style="font-weight: bold;">Reset-Password</a>, and finally and above all,
            the grand <a href="https://github.com/MegaGramProject/Home-Page" target="_blank" rel="noopener noreferrer"
            style="font-weight: bold;">Home-Page</a>. <b>Unfortunately, none of the 3 repos are directly related to
            Amazon</b>(the enormous 'Online-Shopping' repository of my Megagram Organization was not concentrated on).
        </p>
    </div>


    <img id="relevantExperienceImgOrVidSection" *ngIf="displayMacbook" src="images/macbook.webp" style="height: 40em;
    width: 40em; object-fit: contain;">

    <div id="relevantExperienceImgOrVidSection" *ngIf="!displayMacbook" style="display: flex; flex-direction: column; align-items:
    center; justify-content: start; margin-right: 5%; margin-bottom: 5%;">
        <video autoplay [src]="slides[currentSlide].vidSrc"
            style="height: 40em; width: 30em; margin-bottom: -10em;">
        </video>
        
        <div style="display: flex; align-items: center; justify-content: space-between; width: 30em;
        z-index: 2;">
            <img (click)="decrementCurrentSlide()" src="images/backArrow.svg" style="cursor: pointer; height: 1.2em; width:
            1.2em;">
            
            <p [innerHTML]="sanitize(slides[currentSlide]['descriptionHTML'])" style="color: rgb(122, 120, 120)"></p>
            
            <img (click)="incrementCurrentSlide()" src="images/forwardArrow.svg" style="cursor: pointer; height: 1.2em; width:
            1.2em;">
        </div>
    </div>

    <img *ngIf="displayDarkScreen" (click)="onClickingDarkScreen()" src="images/blackScreen.png" style="position: absolute; top:
    0%; left: -1%; opacity: 0.7; height: 100%; width: 101%;">
</div>

<div #relevantExperience *ngIf="readingModeOn" style="padding: 1.7em 2.7em; border-style: solid; border-color: lightgray;
border-width: 0.06em; border-top: none; border-left: none; border-right: none; position: relative; width: 105%; margin-left:
-0.5em; box-sizing: border-box;" [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? 'Roboto' : readingModeFont,
'font-size': (readingModeTextSize*1)+'em', 'color': readingModeTextColor, 'background-color': readingModeBackgroundColor}">
    <h1>Relevant Experience</h1>

    <br/>

    <p style="width: 88%; line-height: 2;">
        Since I began my journey of applying for jobs(<b>Jun 15, 2025</b>), I have not yet been employed in any relevant 
        position. However, I have a comprehensive project, done all by myself, that more than makes up for my lack of
        formal, relevant employment experience — <b>Megagram</b>. This <b>12-month-long commitment</b> has been pivotal in
        <b>deepening my understanding of both foundational and advanced aspects</b> of full-stack web development, database
        management, and cloud service integration. Initially, I worked on <b>9 repositories within my Megagram GitHub
        organization</b>. But to avoid needless repetitive work in an unpaid project and to <b>do more with less</b>, I
        chose to concentrate on <b>3 key repositories</b>(each with <b>MUST-READ DISCLAIMERS</b> in their READMEs) that
        <b>more than suffice to demonstrate the depth of my abilities</b>: <a
        href="https://github.com/MegaGramProject/Login-Register" target="_blank" rel="noopener noreferrer"
        style="font-weight: bold;">Login-Register</a>, <a href="https://github.com/MegaGramProject/Reset-Password"
        target="_blank" rel="noopener noreferrer" style="font-weight: bold;">Reset-Password</a>, and finally and above all,
        the grand <a href="https://github.com/MegaGramProject/Home-Page" target="_blank" rel="noopener noreferrer"
        style="font-weight: bold;">Home-Page</a>. <b>Unfortunately, none of the 3 repos are directly related to
        Amazon</b>(the enormous 'Online-Shopping' repository of my Megagram Organization was not concentrated on).
    </p>

    <img *ngIf="displayDarkScreen" (click)="onClickingDarkScreen()" src="images/blackScreen.png" style="position: absolute; top:
    0%; left: 0%; opacity: 0.7; height: 100%; width: 100%;">
</div>