<div id="briefIntro" style="width: 100%; height: 60em; margin-left:-0.5em; padding: 0.5em 1em;
position: relative; display: flex; flex-direction: column; align-items: center;"
[ngStyle]="{'background-color': currentTheme.endsWith('Light') ? '#68c6fc' : '#394da3',
'color': currentTheme.endsWith('Light') ? '' : 'white'}">
    <p id="helloText" style="font-weight: bold; margin-top:9%; font-size: 6em; max-width: 55%; text-align: center;">
        Hello, my name is <span id="neonName">Rishav Ray</span>{{dots}}
    </p>

    <div *ngIf="initialAnimationsAreFinished" style="border-radius: 1.8em; width: 55%; padding: 1em 1.3em; margin-top:-2em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; height: 52%; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;"
    [ngStyle]="{'background-color': currentTheme.endsWith('Light') ? '#fffce8' : '#a37f1c'}">
        <div style="display: flex; justify-content: center; align-items: center; gap: 7.4%; width: 100%;">
            <img src="instagramLogo.webp" style="height: 2em; width: 2em; pointer-events: none;">
            <p>+</p>
            <img src="amazonLogo.png" style="height: 2em; width: 2em; pointer-events: none;">
            <p>=</p>
            <img src="megagram.ico" style="height: 2em; width: 2em; pointer-events: none;">
        </div>

        <div style="display: flex; gap: 1em; width: 100%; margin-top: 3em;">
            <div style="position: relative; height: 18em; width: 32%;">
                <img (click)="updatePortrait('manual')" [src]="currentPortraitIndex==2 ? portraits[0] : portraits[currentPortraitIndex+1]"  style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; cursor: pointer; object-fit: contain;"
                [ngStyle]="{'opacity': opacityOfNextPortrait}">
                <img (click)="updatePortrait('manual')" [src]="portraits[currentPortraitIndex]"  style="position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; cursor: pointer; object-fit: contain;"
                [ngStyle]="{'opacity': opacityOfCurrentPortrait}">
            </div>

            <div style="margin-top:-1em; font-size: 0.97em; font-family: Arial; line-height:1.6em; width: 88%; font-family: Roboto;">
                <p>I’m a <b>20-year-old self-taught</b> aspiring <b>full-stack web-developer</b> from Verona, Wisconsin. My current focus is on full-stack/frontend/backend web development, with plans to get into app-dev, advanced software engineering/management, ML, AI, & Data-Science later on.</p>
                <p><b>Skipping the traditional university route</b>, I’ve built my skills through curiosity and passion, diving into YouTube tutorials, ChatGPT prompts, online documentation, and hands-on practice. The website you’re staring at currently--which I developed myself!-- is a testament to how far I’ve come– <b>and that's just the beginning.</b></p>
                <p>For the past six months, I’ve developed <b>Megagram</b>, a project blending some of the key features of <b>Instagram</b> and <b>Amazon</b>. As any experienced person from this industry would say, <b>the learning never really stops</b> and every day a new concept is grasped. Nevertheless, I believe my experience is sufficient to <b>excel in the best jobs of this ultra-competitive market</b>, & am also convinced that I can prove that to you <b>right now</b>!</p>
            </div>
        </div>
    </div>

    <img id="wavingHand" src="wavingHand.gif" :style="position: absolute; top: 10%; left: 9%; height: 17em; width: 17em;
    object-fit: contain; pointer-events: none;">

    <img *ngIf="!initialAnimationsAreFinished" src="lightningBolt.gif" :style="position: absolute; top: 40%; left: 30%; height: 30em; width: 35em;
    object-fit: contain; pointer-events: none;">

    <p *ngIf="initialAnimationsAreFinished && !displayDarkScreen" style="position: absolute; left: 90%; top: 2%; font-size: 0.7em; font-family: Tahoma; max-width: 8%;">“For every reason it’s not possible, there are hundreds of people who have faced the same circumstances and succeeded.” – Jack Canfield</p>
    <img *ngIf="displayDarkScreen" (click)="onClickingDarkScreen()" src="blackScreen.png" style="position: absolute; top: 0%; left: 0%; opacity: 0.7; height: 100%; width: 100%;">
</div>

<style>
    #neonName {
        animation: neonNameAnimation 4.5s linear forwards;
        animation-iteration-count: 1;
    }

    @keyframes neonNameAnimation {
        0% {
            color: white;
            text-shadow:
            0 0 7px white,
            0 0 10px white,
            0 0 21px darkslategray,
            0 0 42px red,
            0 0 82px red,
            0 0 92px red,
            0 0 102px red,
            0 0 151px red;
        }

        25% {
            color: white;
            text-shadow:
            0 0 7px white,
            0 0 10px white,
            0 0 21px darkslategray,
            0 0 42px #1521cf,
            0 0 82px #1521cf,
            0 0 92px #1521cf,
            0 0 102px #1521cf,
            0 0 151px #1521cf;
        }

        50% {
            color: white;
            text-shadow:
            0 0 7px white,
            0 0 10px white,
            0 0 21px darkslategray,
            0 0 42px #1ba830,
            0 0 82px #1ba830,
            0 0 92px #1ba830,
            0 0 102px #1ba830,
            0 0 151px #1ba830;
        }

        75% {
            color:#022b08;
            text-shadow:
            0 0 7px #022b08,
            0 0 10px #022b08,
            0 0 21px#022b08,
            0 0 42px #022b08,
            0 0 82px #022b08,
            0 0 92px #022b08,
            0 0 102px white,
            0 0 151px white;
        }

        100% {
            color: black;
        }
    }
</style>