<div id="relevantExperience" style="width: 100%; height: 45em; position: relative;"
colorAndSizeTransitionWithScroll [currentTheme]="currentTheme">

    <div id="relevantExperienceDescription" style="position: absolute; left: 9%; top: 26%;" moveRelevantExperienceDescriptionWithScroll>
        <h1>Relevant Experience</h1>
        <p style="max-width: 50%; line-height: 1.4;">
            Since I began my journey of applying for jobs on <b>February 15, 2025, at precisely 10:53 AM</b>, I have <b>received offers from 15 companies</b>, but have not yet accepted a single one. However, I have a comprehensive project to make up for that- <b>Megagram</b>.
        </p>

        <p style="max-width: 50%; line-height: 1.4;">
            For the <b>Instagram-inspired features</b> of Megagram, I employed a variety of tools to develop both the frontend and backend, enabling user authentication (login/registration/password-resets), user search, profile management, AI-powered chatbot messaging, peer-to-peer messaging, following/blocking users, & dynamic interactions on the home screen, including liking, commenting, and tagging in posts.
        </p>

        <p style="max-width: 50%; line-height: 1.4;">
            In addition, I drew inspiration from <b>Amazon</b> to create <b>another suite of features</b> within Megagram. This includes a personalized home page that displays tailored ads, product promotions, and enables users to update delivery addresses and search for items by category. I also implemented fully functional shopping cart and checkout pages, <b>integrating seamless frontend and backend systems</b> to enhance the user experience.
        </p>
    </div>

    <img id="macbook" src="macbook.webp" style="position: absolute; left: 60%; top: 14%; height: 42em; width: 42em; object-fit: contain; cursor: pointer;" moveMacbookWithScroll>
</div>

