<div style="display: flex; flex-direction: column; border-style: solid; border-color: lightgray;
padding: 0.5em 1.5em; border-radius: 0.85em; cursor: pointer; width: 20em; height: 20em; overflow-y: scroll;"
[ngStyle]="{'background-color': backgroundColor, 'color': color, 'opacity': opacity}">

    <div style="display: flex; align-items: center; gap: 1em;">
        <img [src]="image" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
        <h2>{{ name }}</h2>
    </div>

    <p>Places Used:</p>
    <ul>
        <li *ngFor="let item of usedFor; trackBy: trackUsedForByIndex"
            [innerHTML]="item"
            class="placeUsed">
        </li>
    </ul>

</div>

<style>
    .placeUsed {
        color: '#5aedd7'
    }
</style>