<div *ngIf="!readingModeOn" id="technologiesAndSkills" style="padding-top: 4em; padding-bottom: 4em; position: relative;">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 1em; width: 100%;">
        <p style="font-family: Calibri; font-weight: bold; font-size: 2em;
        position: relative;" startJumpyWaveWhenUserReachesThisPoint>
            <span>Most </span> <span>of </span> <span>the </span> <span>Essential </span> <span>Technologies/Skills </span>
            <span>Utilized </span> <span>in </span> <span>My </span> <span>Project </span>
        </p>
        <small style="margin-bottom: 30em; color: gray; margin-top:-1em;" moveFullStackSectionUpCloser>
            {{ showDescription ? 'The texts for the elements below are scrollable and can also be expanded by clicking them. Furthermore, the elements are alphabetically-sorted by their name for your convenience.' : ''}}
        </small>

        <h1 [ngStyle]="{'margin-bottom': showDescription==false ? '30em' : ''}"
        startFullStackColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowDescription)="setShowDescriptionToTrue()">
            <span>F</span><span>u</span><span>l</span><span>l</span><span>-</span><span>S</span><span>t</span><span>a</span><span>c</span><span>k</span>
        </h1>
        <div *ngIf="showDescription==true && fullStackTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em; margin-bottom: 30em;" moveFrontendSectionUpCloser>
            <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of fullStackTechnologiesAndSkillsUsed; let index = index; trackBy: trackByName"
                [index]="index" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                [type]="'Full-Stack'"
            />
        </div>
        
        <h1 startFrontendColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowFrontendElements)="setShowFrontendElementsToTrue()">
            <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <div style="display: flex; flex-direction: column; gap: 1.2em; margin-bottom: 30em;" moveBackendSectionUpCloser>
            <div *ngIf="showFrontendElements==true && frontendTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of frontendTechnologiesAndSkillsUsed.slice(0,4); let index = index; trackBy: trackByName"
                    [index]="index" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Frontend'"
                />
            </div>
            <div *ngIf="showFrontendElements==true && frontendTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of frontendTechnologiesAndSkillsUsed.slice(4,8); let index = index; trackBy: trackByName"
                    [index]="index+4" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Frontend'"
                />
            </div>
        </div>

        <h1 startBackendColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowBackendElements)="setShowBackendElementsToTrue()">
            <span>B</span><span>a</span><span>c</span><span>k</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <div style="display: flex; flex-direction: column; gap: 1.2em; margin-bottom: 30em;" moveDataAndCloudSectionUpCloser>
            <div *ngIf="showBackendElements==true && backendTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of backendTechnologiesAndSkillsUsed.slice(0,4); let index = index; trackBy: trackByName"
                    [index]="index" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Backend'"
                />
            </div>
            <div *ngIf="showBackendElements==true && backendTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of backendTechnologiesAndSkillsUsed.slice(4,8); let index = index; trackBy: trackByName"
                    [index]="index+4" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Backend'"
                />
            </div>
        </div>

        <h1 startDataAndCloudColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowDataAndCloudElements)="setShowDataAndCloudElementsToTrue()">
            <span>Data </span> <span>and </span> <span>the </span> <span>Cloud</span>
        </h1>
        <div style="display: flex; flex-direction: column; gap: 1.2em; margin-bottom: 15em;" moveDataAndCloudSectionUpCloser>
            <div *ngIf="showDataAndCloudElements==true && dataAndTheCloudTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of dataAndTheCloudTechnologiesAndSkillsUsed.slice(0,4); let index = index; trackBy: trackByName"
                    [index]="index" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Data and the Cloud'"
                />
            </div>
            <div *ngIf="showDataAndCloudElements==true && dataAndTheCloudTechnologiesAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleTechnologyOrSkill *ngFor="let technologyOrSkill of dataAndTheCloudTechnologiesAndSkillsUsed.slice(4,8); let index = index; trackBy: trackByName"
                    [index]="index+4" [name]="technologyOrSkill['name']" [image]="technologyOrSkill['image']" [backgroundColor]="technologyOrSkill['backgroundColor']"
                    [color]="technologyOrSkill['color']" [usedFor]="technologyOrSkill['usedFor']" (notifyParentToShowPopupForTechnologyOrSkill)="tellParentToShowPopupForTechnologyOrSkill($event)"
                    [type]="'Data and the Cloud'"
                />
            </div>
        </div>
    </div>
    <img *ngIf="displayDarkScreen" (click)="onClickingDarkScreen()" src="blackScreen.png" style="position: absolute; top: 0%; left: -1%; opacity: 0.7; height: 100%; width: 102%;">
</div>

<div *ngIf="readingModeOn" id="technologiesAndSkills" style="padding: 1.7em 2.7em; border-style: solid; border-color: lightgray;
border-width: 0.06em; border-top: none; border-left: none; border-right: none; position: relative; margin-left:-0.5em; width: 98%;"
[ngStyle]="{'font-size': (readingModeTextSize*1.05)+'em', 'color': readingModeTextColor, 'background-color': readingModeBackgroundColor}">
    <h1 style="font-family: Roboto;">Most of the Essential Technologies/Skills Utilized in My Project</h1>
    
    <br/>

    <h2 style="font-family: Pacifico;">Full-Stack</h2>
    <div *ngFor="let technologyOrSkill of fullStackTechnologiesAndSkillsUsed; let index = index; trackBy: trackByName"
    style="display: flex; flex-direction: column; gap: 0em;"
    [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? 'Arial' : readingModeFont}">
        <div style="display: flex; align-items: center; gap: 1em;">
            <img [src]="technologyOrSkill['image']" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
            <h3>{{ technologyOrSkill['name'] }}</h3>
        </div>
        <p style="margin-left: 3em;">Places Used:</p>
        <ul style="margin-left: 3.5em;">
            <li *ngFor="let item of technologyOrSkill['usedFor'];"
                [innerHTML]="sanitize(item)"
                style="margin-bottom: 1em;"
            >
            </li>
        </ul>
    </div>

    <br/>

    <h2 style="font-family: Pacifico;">Frontend</h2>
    <div *ngFor="let technologyOrSkill of frontendTechnologiesAndSkillsUsed; let index = index; trackBy: trackByName"
    style="display: flex; flex-direction: column; gap: 0em;"
    [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? 'Red Hat Display' : readingModeFont}">
        <div style="display: flex; align-items: center; gap: 1em;">
            <img [src]="technologyOrSkill['image']" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
            <h3>{{ technologyOrSkill['name'] }}</h3>
        </div>
        <p style="margin-left: 3em;">Places Used:</p>
        <ul style="margin-left: 3.5em;">
            <li *ngFor="let item of technologyOrSkill['usedFor'];"
                [innerHTML]="sanitize(item)"
                style="margin-bottom: 1em;"
            >
            </li>
        </ul>
    </div>

    <br/>

    <h2 style="font-family: Pacifico;">Backend</h2>
    <div *ngFor="let technologyOrSkill of backendTechnologiesAndSkillsUsed; let index = index; trackBy: trackByName"
    style="display: flex; flex-direction: column; gap: 0em;"
    [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? 'IBM Plex Sans' : readingModeFont}">
        <div style="display: flex; align-items: center; gap: 1em;">
            <img [src]="technologyOrSkill['image']" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
            <h3>{{ technologyOrSkill['name'] }}</h3>
        </div>
        <p style="margin-left: 3em;">Places Used:</p>
        <ul style="margin-left: 3.5em;">
            <li *ngFor="let item of technologyOrSkill['usedFor'];"
                [innerHTML]="sanitize(item)"
                style="margin-bottom: 1em;"
            >
            </li>
        </ul>
    </div>

    <br/>

    <h2 style="font-family: Pacifico;">Data and the Cloud</h2>
    <div *ngFor="let technologyOrSkill of dataAndTheCloudTechnologiesAndSkillsUsed; let index = index; trackBy: trackByName"
    style="display: flex; flex-direction: column; gap: 0em;"
    [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? 'Plus Jakarta Sans' : readingModeFont}">
        <div style="display: flex; align-items: center; gap: 1em;">
            <img [src]="technologyOrSkill['image']" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
            <h3>{{ technologyOrSkill['name'] }}</h3>
        </div>
        <p style="margin-left: 3em;">Places Used:</p>
        <ul style="margin-left: 3.5em;">
            <li *ngFor="let item of technologyOrSkill['usedFor'];"
                [innerHTML]="sanitize(item)"
                style="margin-bottom: 1em;"
            >
            </li>
        </ul>
    </div>
    
    <img *ngIf="displayDarkScreen" (click)="onClickingDarkScreen()" src="blackScreen.png" style="position: absolute; top: 0%; left: 0%; opacity: 0.7; height: 100%; width: 100%;">
</div>



<style>
    .colorfulWave span {
        animation: colorWave 1s linear forwards;
        animation-iteration-count: 1;
    }

    .colorfulWave span:nth-child(1) {
        animation-delay: 0s;
    }
    .colorfulWave span:nth-child(2) {
        animation-delay: 0.2s;
    }
    .colorfulWave span:nth-child(3) {
        animation-delay: 0.4s;
    }
    .colorfulWave span:nth-child(4) {
        animation-delay: 0.6s;
    }
    .colorfulWave span:nth-child(5) {
        animation-delay: 0.8s;
    }
    .colorfulWave span:nth-child(6) {
        animation-delay: 1s;
    }
    .colorfulWave span:nth-child(7) {
        animation-delay: 1.2s;
    }
    .colorfulWave span:nth-child(8) {
        animation-delay: 1.4s;
    }
    .colorfulWave span:nth-child(9) {
        animation-delay: 1.6s;
    }
    .colorfulWave span:nth-child(10) {
        animation-delay: 1.8s;
    }

    @keyframes jumpingWave {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-2em); }
    }

    .jumpyWave span {
        position: absolute;
        text-decoration: underline;
        animation: jumpingWave 0.8s linear forwards;
        animation-iteration-count: 1;
    }

    .jumpyWave span:nth-child(1) {
        left: -13em;
        animation-delay: 0s;
    }
    .jumpyWave span:nth-child(2) {
        left: -10.5em;
        animation-delay: 0.2s;
    }
    .jumpyWave span:nth-child(3) {
        left: -9.2em;
        animation-delay: 0.4s;
    }
    .jumpyWave span:nth-child(4) {
        left: -7.5em;
        animation-delay: 0.6s;
    }
    .jumpyWave span:nth-child(5) {
        left: -3.3em;
        animation-delay: 0.8s;
    }
    .jumpyWave span:nth-child(6) {
        left: 5.1em;
        animation-delay: 1s;
    }
    .jumpyWave span:nth-child(7) {
        left: 8.8em;
        animation-delay: 1.2s;
    }
    .jumpyWave span:nth-child(8) {
        left: 10.1em;
        animation-delay: 1.4s;
    }
    .jumpyWave span:nth-child(9) {
        left: 12em;
        animation-delay: 1.6s;
    }

</style>
