<div id="toolsAndSkills" style="padding-top: 4em; padding-bottom: 1.5em;">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 1em; width: 100%;">
        <p style="font-family: Calibri; font-weight: bold; font-size: 2em;
        position: relative;" startJumpyWaveWhenUserReachesThisPoint>
            <span>Most </span> <span>of </span> <span>the </span> <span>Essential </span> <span>Tools/Skills </span>
            <span>Utilized </span> <span>Directly </span> <span>in </span> <span>My </span> <span>Project </span>
        </p>
        <small style="margin-bottom: 30em; color: gray; margin-top:-1em;" moveFullStackSectionUpCloser>
            {{ showDescription ? 'The texts for the elements below are scrollable and can also be fully read by clicking on them. Furthermore, the elements are alphabetically-sorted by their name for your convenience.' : ''}}
        </small>

        <h1 [ngStyle]="{'margin-bottom': showDescription==false ? '30em' : ''}"
        startFullStackColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowDescription)="setShowDescriptionToTrue()">
            <span>F</span><span>u</span><span>l</span><span>l</span><span>-</span><span>S</span><span>t</span><span>a</span><span>c</span><span>k</span>
        </h1>
        <div *ngIf="showDescription==true && fullStackToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em; margin-bottom: 30em;" moveFrontendSectionUpCloser>
            <SingleToolOrSkill *ngFor="let toolOrSkill of fullStackToolsAndSkillsUsed; let index = index; trackBy: trackByName"
                [index]="index" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
            />
        </div>
        
        <h1 startFrontendColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowFrontendElements)="setShowFrontendElementsToTrue()">
            <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <div style="display: flex; flex-direction: column; gap: 0.5em; margin-bottom: 30em;" moveBackendSectionUpCloser>
            <div *ngIf="showFrontendElements==true && frontendToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleToolOrSkill *ngFor="let toolOrSkill of frontendToolsAndSkillsUsed.slice(0,4); let index = index; trackBy: trackByName"
                    [index]="index" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                    [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
                />
            </div>
            <div *ngIf="showFrontendElements==true && frontendToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
                <SingleToolOrSkill *ngFor="let toolOrSkill of frontendToolsAndSkillsUsed.slice(4,8); let index = index; trackBy: trackByName"
                    [index]="index+4" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                    [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
                />
            </div>
        </div>

        <h1 startBackendColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowBackendElements)="setShowBackendElementsToTrue()">
            <span>B</span><span>a</span><span>c</span><span>k</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <div style="display: flex; flex-direction: column; gap: 0.5em; margin-bottom: 30em;" moveDataAndCloudSectionUpCloser>
            <div *ngIf="showBackendElements==true && backendToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
            <SingleToolOrSkill *ngFor="let toolOrSkill of backendToolsAndSkillsUsed.slice(0,4); let index = index; trackBy: trackByName"
                [index]="index" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
            />
        </div>
        <div *ngIf="showBackendElements==true && backendToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
            <SingleToolOrSkill *ngFor="let toolOrSkill of backendToolsAndSkillsUsed.slice(4,8); let index = index; trackBy: trackByName"
                [index]="index+4" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
            />
        </div>
        </div>

        <h1 startDataAndCloudColorfulWaveAndShowElementsWhenUserReachesThisPoint (notifyParentToShowDataAndCloudElements)="setShowDataAndCloudElementsToTrue()">
            <span>Data </span> <span>and </span> <span>the </span> <span>Cloud</span>
        </h1>
        <div *ngIf="showDataAndCloudElements==true && dataAndTheCloudToolsAndSkillsUsed.length>0" style="display: flex; align-items: center; gap: 0.5em;">
            <SingleToolOrSkill *ngFor="let toolOrSkill of dataAndTheCloudToolsAndSkillsUsed; let index = index; trackBy: trackByName"
                [index]="index" [name]="toolOrSkill['name']" [image]="toolOrSkill['image']" [backgroundColor]="toolOrSkill['backgroundColor']"
                [color]="toolOrSkill['color']" [usedFor]="toolOrSkill['usedFor']"
            />
        </div>


    </div>
</div>

<style>
    .colorfulWave span {
        animation: colorWave 1s linear forwards;
        animation-iteration-count: 1;
    }

    .colorfulWave span:nth-child(1) {
        animation-delay: 0s;
    }
    .colorfulWave span:nth-child(2) {
        animation-delay: 0.2s;
    }
    .colorfulWave span:nth-child(3) {
        animation-delay: 0.4s;
    }
    .colorfulWave span:nth-child(4) {
        animation-delay: 0.6s;
    }
    .colorfulWave span:nth-child(5) {
        animation-delay: 0.8s;
    }
    .colorfulWave span:nth-child(6) {
        animation-delay: 1s;
    }
    .colorfulWave span:nth-child(7) {
        animation-delay: 1.2s;
    }
    .colorfulWave span:nth-child(8) {
        animation-delay: 1.4s;
    }
    .colorfulWave span:nth-child(9) {
        animation-delay: 1.6s;
    }
    .colorfulWave span:nth-child(10) {
        animation-delay: 1.8s;
    }

    @keyframes jumpingWave {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-2em); }
    }

    .jumpyWave span {
        position: absolute;
        text-decoration: underline;
        animation: jumpingWave 0.8s linear forwards;
        animation-iteration-count: 1;
    }

    .jumpyWave span:nth-child(1) {
        left: -13em;
        animation-delay: 0s;
    }
    .jumpyWave span:nth-child(2) {
        left: -10.5em;
        animation-delay: 0.2s;
    }
    .jumpyWave span:nth-child(3) {
        left: -9.2em;
        animation-delay: 0.4s;
    }
    .jumpyWave span:nth-child(4) {
        left: -7.5em;
        animation-delay: 0.6s;
    }
    .jumpyWave span:nth-child(5) {
        left: -3.3em;
        animation-delay: 0.8s;
    }
    .jumpyWave span:nth-child(6) {
        left: 1.9em;
        animation-delay: 1s;
    }
    .jumpyWave span:nth-child(7) {
        left: 5.5em;
        animation-delay: 1.2s;
    }
    .jumpyWave span:nth-child(8) {
        left: 9.3em;
        animation-delay: 1.4s;
    }
    .jumpyWave span:nth-child(9) {
        left: 10.5em;
        animation-delay: 1.6s;
    }
    .jumpyWave span:nth-child(10) {
        left: 12.3em;
        animation-delay: 1.8s;
    }

</style>
