<div style="width: 100%; display: flex; flex-direction: column; align-items: start; justify-content: start;
position: relative;">
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 1em 0em; font-size:
    0.9em; width: 100%; overflow-x: scroll;" [ngStyle]="{'color': currentTheme.endsWith('Light') ? '' : 'white'}">
        <div style="display: flex; align-items: center;">
            <p (click)="scrollToSection.emit('briefIntro')" (mouseenter)="onMouseEnterOfBriefIntro()"
            (mouseleave)="onMouseLeaveOfBriefIntro()"
            [ngStyle]="{'cursor': 'pointer', 'font-weight': isBriefIntroBeingHovered ? 'bold' : '300',
            'border-style': isBriefIntroBeingHovered ? 'solid' : '', 'padding': '0.3em 2em', 'border-color': 'lightgray',
            'border-radius': '2em', 'border-width': '0.1em', 'margin-right': '-2em',
            'color': isBriefIntroBeingHovered && currentTheme.endsWith('Light') ? 'navy' : ''}">
                Brief Intro
            </p>
        
            <p (click)="scrollToSection.emit('relevantExperience')" (mouseenter)="onMouseEnterOfRelevantExperience()"
            (mouseleave)="onMouseLeaveOfRelevantExperience()" style="cursor: pointer; font-weight: 300;"
            [ngStyle]="{'margin-left': '1em', 'cursor': 'pointer', 'font-weight': isRelevantExperienceBeingHovered ? 
            'bold' : '300', 'border-style': isRelevantExperienceBeingHovered ? 'solid' : '', 'padding': '0.3em 2em',
            'border-color': 'lightgray', 'border-radius': '2em', 'border-width': '0.1em', 'margin-right': '-2em',
            'color': isRelevantExperienceBeingHovered && currentTheme.endsWith('Light') ? 'navy' : ''}">
                Relevant Experience
            </p>
        
            <p (click)="scrollToSection.emit('techsAndSkillsUsed')" (mouseenter)="onMouseEnterOfTechsAndSkills()"
            (mouseleave)="onMouseLeaveOfTechsAndSkills()" [ngStyle]="{'margin-left': '1em', 'cursor': 'pointer',
            'font-weight': isTechsAndSkillsBeingHovered ? 'bold' : '300', 'border-style':
            isTechsAndSkillsBeingHovered ? 'solid' : '', 'padding': '0.3em 2em', 'border-color': 'lightgray',
            'border-radius': '2em', 'border-width': '0.1em', 'margin-right': '-2em',
            'color': isTechsAndSkillsBeingHovered && currentTheme.endsWith('Light') ? 'navy' : ''}">
                Technologies & Skills Used
            </p>
        
            <div (mouseenter)="onMouseEnterOfPersonalize()" (mouseleave)="onMouseLeaveOfPersonalize()"
            style="display: flex; align-items: center; gap: 0.5em; margin-left: 2em; margin-right: -1em;"
            [ngStyle]="{'cursor': 'pointer', 'font-weight': isPersonalizeBeingHovered ? 'bold' : '300',
            'border-style': isPersonalizeBeingHovered ? 'solid' : '', 'border-color': 'lightgray',
            'border-radius': '2em', 'border-width': '0.1em', 'padding-left': '1.2em', 'padding-right': '0.9em',
            'padding-top': '0em', 'padding-bottom': '0em',
            'background-color': isPersonalizeBeingHovered && currentTheme.endsWith('Light')? '#dcf3fc' : ''}">
                <p>
                    Personalize
                </p>
        
                <img class="iconToBeAdjustedForDarkMode" src="images/downV.png" style="height: 1em; width: 1em; object-fit:
                contain;" [ngStyle]="{'transform': isPersonalizeBeingHovered ? 'scaleY(-1)' : ''}">
            </div>
        
            <div (mouseenter)="onMouseEnterOfLinks()" (mouseleave)="onMouseLeaveOfLinks()"
            style="display: flex; align-items: center; gap: 0.5em; margin-left: 2em; margin-right: -1em;"
            [ngStyle]="{'cursor': 'pointer', 'font-weight': isLinksBeingHovered ? 'bold' : '300',
            'border-style': isLinksBeingHovered ? 'solid' : '', 'border-color': 'lightgray',
            'border-radius': '2em', 'border-width': '0.1em', 'padding-left': '1.2em', 'padding-right': '0.9em',
            'padding-top': '0em', 'padding-bottom': '0em',
            'background-color': isLinksBeingHovered && currentTheme.endsWith('Light') ? '#dcf3fc' : ''}">
                <p>
                    Links
                </p>
        
                <img class="iconToBeAdjustedForDarkMode" src="images/downV.png" style="height: 1em; width: 1em; object-fit:
                contain;" [ngStyle]="{'transform': isLinksBeingHovered ? 'scaleY(-1)' : ''}">
            </div>
        
            <div (mouseenter)="onMouseEnterOfContactMe()" (mouseleave)="onMouseLeaveOfContactMe()"
            style="display: flex; align-items: center; gap: 0.5em; margin-left: 2em;"
            [ngStyle]="{'cursor': 'pointer', 'font-weight': isContactMeBeingHovered ? 'bold' : '300',
            'border-style': isContactMeBeingHovered ? 'solid' : '', 'border-color': 'lightgray',
            'border-radius': '2em', 'border-width': '0.1em', 'padding-left': '1.2em', 'padding-right': '0.9em',
            'padding-top': '0em', 'padding-bottom': '0em',
            'background-color': isContactMeBeingHovered && currentTheme.endsWith('Light') ? '#dcf3fc' : ''}">
                <p>
                    Contact Me
                </p>
        
                <img class="iconToBeAdjustedForDarkMode" src="images/downV.png" style="height: 1em; width: 1em; object-fit:
                contain;" [ngStyle]="{'transform': isContactMeBeingHovered ? 'scaleY(-1)' : ''}">
            </div>
        </div>

        <img id="topSectionSelfPortrait" src="images/samplePortrait1.jpg" style="height: 4em; width: 4em;
        border-radius: 2em; pointer-events: none; margin-left: 1.5em;">
    </div>

    <div *ngIf="isPersonalizeBeingHovered || isPersonalizeBigSectionBeingHovered"
    (mouseenter)="onMouseEnterOfPersonalizeBigSection()" (mouseleave)="onMouseLeaveOfPersonalizeBigSection()"
    style="width: 105%; margin-left: -0.5em; padding: 1em 3em; border-style: solid; 
    border-color: lightgray; border-left: none; border-right: none; border-bottom: none; border-width: 0.09em;
    display: flex; flex-direction: column; gap: 1em; overflow-x: scroll;"
    [ngStyle]="{'background-color': currentTheme.endsWith('Light') ? 'white' : '#282929', 'color':
    currentTheme.endsWith('Light') ? '' : 'white'}">
        <h1>Personalize</h1>

        <a *ngIf="!readingModeOn" (click)="flipReadingMode()" style="cursor: pointer;"
        [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Turn on Reading Mode</a>
        <a *ngIf="readingModeOn" (click)="flipReadingMode()" style="cursor: pointer; margin-bottom: -1em;"
        [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Turn off Reading Mode</a>
        
        <p *ngIf="readingModeOn" style="color: gray; font-size: 0.88em; max-width: 40%; margin-bottom:
        -1em;">
            You can also customize the text-size/text-color/background-color and see the changes being
            displayed in realtime by using the panel near the bottom-right side of the page!
        </p>

        <div *ngIf="readingModeOn" style="display: flex; margin-left: 1.5em; gap: 1em; align-items: center;
        margin-bottom: -1.5em; position: relative;">
            <p>Choose Font</p>
            <p style="text-decoration: underline; text-decoration-color: blue;"
            [ngStyle]="{'font-family': readingModeFont.startsWith('Default') ? '' : readingModeFont}">
                {{ readingModeFont }}
            </p>
            <p *ngIf="!displayFontOptions" (click)="toggleDisplayFontOptions()" style="color:#286eb8; cursor: pointer;">
                Change
            </p>
            <p *ngIf="displayFontOptions" (click)="toggleDisplayFontOptions()" style="color:#286eb8; cursor: pointer;">
                Hide
            </p>
            
            <div *ngIf="displayFontOptions" style="display: flex; flex-direction: column; border-radius: 0.7em;
            border-style: solid; border-width: 0.06em; border-color: lightgray; position: absolute; left: 24%; top:
            20%; background-color: white;" [ngStyle]="{'background-color': currentTheme.endsWith('Light') ?
            'white' : '#282929', 'color': currentTheme.endsWith('Light') ? '' : 'white'}">
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Arial'"
                (click)="changeReadingModeFont('Arial')" style="cursor: pointer; font-family: Arial; padding: 0.5em
                1em; margin-bottom: -1em;">
                    Arial
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Default (mix of all the options)'"
                (click)="changeReadingModeFont('Default (mix of all the options)')" style="cursor: pointer;
                font-family: Arial; padding: 0.5em 1em; margin-bottom: -1em;">
                    Default (mix of all the options)
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='IBM Plex Sans'"
                (click)="changeReadingModeFont('IBM Plex Sans')" style="cursor: pointer; font-family: IBM Plex Sans;
                padding: 0.5em 1em; margin-bottom: -1em;">
                    IBM Plex Sans
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Pacifico'"
                (click)="changeReadingModeFont('Pacifico')" style="cursor: pointer; font-family: Pacifico; padding:
                0.5em 1em; margin-bottom: -1em;">
                    Pacifico
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Plus Jakarta Sans'"
                (click)="changeReadingModeFont('Plus Jakarta Sans')" style="cursor: pointer; font-family: Plus
                Jakarta Sans; padding: 0.5em 1em; margin-bottom: -1em;">
                    Plus Jakarta Sans
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Red Hat Display'"
                (click)="changeReadingModeFont('Red Hat Display')" style="cursor: pointer; font-family: Red Hat
                Display; padding: 0.5em 1em; margin-bottom: -1em;">
                    Red Hat Display
                </p>
                <p class="readingModeFontOption" *ngIf="readingModeFont!=='Roboto'"
                (click)="changeReadingModeFont('Roboto')" style="cursor: pointer; font-family: Roboto; padding: 0.5em
                1em;">
                    Roboto
                </p>
            </div>
        </div>

        <div *ngIf="readingModeOn" style="display: flex; margin-left: 1.5em; gap: 1em; align-items: center;
        margin-bottom: -1.5em;">
            <p>Choose Text-Size</p>
            <p style="text-decoration: underline; text-decoration-color: blue;">{{ readingModeTextSize + 'X' }}</p>
            <p *ngIf="!displayTextSizeSlider" (click)="toggleDisplayTextSizeSlider()" style="color:#286eb8; cursor:
            pointer;">Change</p>
            <p *ngIf="displayTextSizeSlider" (click)="toggleDisplayTextSizeSlider()" style="color:#286eb8; cursor:
            pointer;">Hide</p>
            <input *ngIf="displayTextSizeSlider" [(ngModel)]="textSizeSliderValue" type="range" id="slider"
            min="0.5" max="2" step="0.01" [value]="readingModeTextSize">
            <p *ngIf="displayTextSizeSlider">{{ textSizeSliderValue + 'X' }}</p>
            <p (click)="changeReadingModeTextSize()" *ngIf="displayTextSizeSlider && textSizeSliderValue!==readingModeTextSize"
            style="cursor: pointer; color: green">Set size</p>
        </div>

        <div *ngIf="readingModeOn" style="display: flex; margin-left: 1.5em; gap: 1em; align-items: start;
        margin-bottom: -1.5em;">
            <p>Choose Text Color</p>
            <div *ngIf="readingModeTextColor.length>0" style="height: 1em; width: 1em; border-radius: 2em;
            margin-top: 1em; border-style: solid;" [ngStyle]="{'background-color': readingModeTextColor}"></div>
            <p style="text-decoration: underline; text-decoration-color: blue;">
                {{ readingModeTextColor.length == 0 ? 'Default' : readingModeTextColor }}
            </p>
            <p *ngIf="!displayTextColorPicker" (click)="toggleDisplayTextColorPicker()" style="color:#286eb8; cursor:
            pointer;">Change</p>
            <p *ngIf="displayTextColorPicker" (click)="toggleDisplayTextColorPicker()" style="color:#286eb8; cursor:
            pointer;">Hide</p>
            <input *ngIf="displayTextColorPicker" [(colorPicker)]="textColorPickerValue" [style.background]=
            "textColorPickerValue" style="margin-top:1em;"/>
            <p (click)="changeReadingModeTextColor()" *ngIf="displayTextColorPicker" style="cursor: pointer; color: green">
                Set color
            </p>
            <p (click)="changeReadingModeTextColorToDefault()" *ngIf="displayTextColorPicker" style="cursor: pointer; color:
            gray">Stick to Default</p>
        </div>

        <div *ngIf="readingModeOn" style="display: flex; margin-left: 1.5em; gap: 1em; align-items: center;
        margin-bottom: -0.5em;">
            <p>Choose Background Color</p>
            <div *ngIf="readingModeBackgroundColor.length>0" style="height: 1em; width: 1em; border-radius: 2em;
            border-style: solid;" [ngStyle]="{'background-color': readingModeBackgroundColor}"></div>
            <p style="text-decoration: underline; text-decoration-color: blue;">
                {{ readingModeBackgroundColor.length == 0 ? 'Default' : readingModeBackgroundColor }}
            </p>
            <p *ngIf="!displayBackgroundColorPicker" (click)="toggleDisplayBackgroundColorPicker()" style="color:#286eb8;
            cursor: pointer;">Change</p>
            <p *ngIf="displayBackgroundColorPicker" (click)="toggleDisplayBackgroundColorPicker()" style="color:#286eb8;
            cursor: pointer;">Hide</p>
            <input *ngIf="displayBackgroundColorPicker" [(colorPicker)]="backgroundColorPickerValue"
            [style.background]="backgroundColorPickerValue" style="margin-top:1em;"/>
            <p (click)="changeReadingModeBackgroundColor()" *ngIf="displayBackgroundColorPicker" style="cursor: pointer; color:
            green">Set color</p>
            <p (click)="changeReadingModeBackgroundColorToDefault()" *ngIf="displayBackgroundColorPicker" style="cursor: pointer;
            color: gray">Stick to Default</p>
        </div>

        <p style="margin-bottom:-1em;">Change Theme</p>
        <div (click)="changeTheme('System')" style="display: flex; gap: 1em; margin-left: 1.5em; align-items: center;
        margin-bottom:-2em; cursor: pointer;">
            <img src="images/systemSettings.png" style="pointer-events: none; height: 1.2em; width: 1.2em;">
            <p>System</p>
            <p *ngIf="currentTheme.startsWith('System:')" style="color: gray; margin-left: 2em;">Selected
            ({{ currentTheme.split(" ")[1] }})</p>
        </div>
        <div (click)="changeTheme('Light')" style="display: flex; gap: 1em; margin-left: 1.5em; align-items: center;
        margin-bottom:-2em; cursor: pointer;">
            <img src="images/sun.png" style="pointer-events: none; height: 1.5em; width: 1.5em;">
            <p>Light</p>
            <p *ngIf="currentTheme==='Light'" style="color: gray; margin-left: 2em;">Selected</p>
        </div>
        <div (click)="changeTheme('Dark')" style="display: flex; gap: 1em; margin-left: 1.5em; align-items: center;
        cursor: pointer;">
            <img src="images/moon.png" style="pointer-events: none; height: 1.5em; width: 1.5em;"
            [ngStyle]="{'filter': currentTheme.endsWith('Light') ? '' : 'brightness(5) contrast(0)'}">
            <p>Dark</p>
            <p *ngIf="currentTheme==='Dark'" style="color: gray; margin-left: 2em;">Selected</p>
        </div>
    </div>

    <div *ngIf="isLinksBeingHovered || isLinksBigSectionBeingHovered" (mouseenter)="onMouseEnterOfLinksBigSection()"
    (mouseleave)="onMouseLeaveOfLinksBigSection()" style="width: 105%; margin-left: -0.5em; border-style: solid; border-color:
    lightgray; border-left: none; border-right: none; border-bottom: none; border-width: 0.09em; display: flex;
    flex-direction: column; gap: 1em; padding-top: 3em; padding-left: 1.5em; padding-bottom: 3em; position:
    relative; box-sizing: border-box; overflow-x: scroll;" [ngStyle]="{'background-color': currentTheme.endsWith('Light') ? 'white' :
    '#282929', 'color': currentTheme.endsWith('Light') ? '' : 'white'}">
        <a href="https://github.com/MegaGramProject"  target="_blank" rel="noopener noreferrer" [ngStyle]="{'color':
        currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Megagram Github Organization
        </a>

        <h2>Github Repositories</h2>

        <a href="https://github.com/MegaGramProject/Login-Register" target="_blank" rel="noopener noreferrer"
        [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Login-Register</a>
        <a href="https://github.com/MegaGramProject/Reset-Password" target="_blank" rel="noopener noreferrer"
        [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Reset-Password</a>
        <a href="https://github.com/MegaGramProject/Home-Page" target="_blank" rel="noopener noreferrer"
        [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">Home-Page</a>
    </div>

    <div *ngIf="isContactMeBeingHovered || isContactMeBigSectionBeingHovered"
    (mouseenter)="onMouseEnterOfContactMeBigSection()" (mouseleave)="onMouseLeaveOfContactMeBigSection()"
    style="width: 105%; margin-left: -0.5em; border-style: solid; border-color: lightgray; border-left: none; border-right:
    none; border-bottom: none; border-width: 0.09em; padding-top: 3em; padding-left: 1.5em; padding-bottom: 3em;
    box-sizing: border-box; overflow-x: scroll;" [ngStyle]="{'background-color': currentTheme.endsWith('Light') ? 'white' : '#282929',
    'color': currentTheme.endsWith('Light') ? '' : 'white'}">
        <h1>Contact Me</h1>

        <div style="display: flex; gap: 1em; align-items: center;">
            <p>Email-Address: <span (click)="copyEmailAddressToClipboard()" style="text-decoration: underline; cursor: pointer;"
            [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">rishavray422&#64;gmail.com</span></p>
            
            <p *ngIf="emailAddressWasCopied" style="color: green;">Copied!</p>
        </div>

        <div style="display: flex; gap: 1em; align-items: center; margin-bottom: 1em;">
            <p>Text: <span (click)="copyPhoneNumberToClipboard()" style="text-decoration: underline; cursor: pointer;"
            [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0' }">608-443-7805</span></p>

            <p *ngIf="phoneNumberWasCopied" style="color: green;">Copied!</p>
        </div>

        <div style="display: flex; align-items: center; gap: 1em;">
            <img class="linkedinIcon" src="images/linkedinIcon.webp" style="height: 1.75em; width: 1.75em; object-fit:
            contain;">

            <a href="https://linkedin.com/in/rishav-ray-9a9968341" target="_blank" rel="noopener noreferrer"
            [ngStyle]="{'color': currentTheme.endsWith('Dark') ? '#4eaeed' : '#307db0'}">
                My Linkedin Profile
            </a>
        </div>
    </div>
</div>