<TopSection (updateDarkScreen)="updateDarkScreen($event)" [currentTheme]="currentTheme"
    [readingModeOn]="readingModeOn" (updateTheme)="updateTheme($event)" (toggleReadingMode)="toggleReadingMode()"
/>

<BriefIntro [displayDarkScreen]="displayDarkScreen" [currentTheme]="currentTheme"
    (notifyParentToCloseAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<RelevantExperience [displayDarkScreen]="displayDarkScreen" [currentTheme]="currentTheme"
    (notifyParentToCloseAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<TechnologiesAndSkills [displayDarkScreen]="displayDarkScreen" [currentTheme]="currentTheme"
    (notifyParentToShowPopupForTechnologyOrSkill)="showPopupForTechnologyOrSkill($event)"
    (notifyParentToCloseAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<TechnologyOrSkillPopup *ngIf="displayTechnologyOrSkillsPopup" [currentTheme]="currentTheme"
    [technologyOrSkill]="technologyOrSkillForPopup" (notifyParentToCloseThisPopup)="closePopupForTechnologyOrSkill()"
/>

<GoldenStandards [displayDarkScreen]="displayDarkScreen" [currentTheme]="currentTheme"
    (notifyParentToCloseAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<div *ngIf="userIsAtTheTop && !displayDarkScreen" (click)="scrollToTheBottom()" style="cursor: pointer; position: fixed; top: 80%; left: 93%; display: flex; flex-direction: column;
align-items: center; font-size: 0.85em;">
    <p>Swim to</p>
    <img src="waterBodyBottom.webp" style="height: 6em; width: 6em; border-radius: 8em;">
    <p>the Bottom</p>
</div>


<div *ngIf="!userIsAtTheTop && !displayDarkScreen" (click)="scrollToTheTop()" style="cursor: pointer; position: fixed; top: 80%; left: 93%; display: flex; flex-direction: column;
align-items: center; font-size: 0.85em;">
    <p>Climb to</p>
    <img src="mountainPeak.webp" style="height: 6em; width: 6em; border-radius: 8em;">
    <p>the Top</p>
</div>
