<div class="threeDimensionalDiv" (click)="showPopupForTechOrSkill()" style="display: flex; flex-direction: column; border-style:
solid; border-color: lightgray; padding: 0.5em 1.5em; border-radius: 0.85em; cursor: pointer; width: 22em; height: 22em;
position: relative;" [ngStyle]="{'background-color': backgroundColor, 'color': color, 'opacity': opacity}">
    <div style="display: flex; align-items: center; gap: 1em;">
        <img [src]="'images/' + image" style="height: 2em; width: 2em; pointer-events: none; object-fit: contain;">
        <h2>{{ name }}</h2>
    </div>

    <p>Places Used:</p>

    <ul style="height: 100%; overflow-y: scroll; font-family: Red Hat Display;">
        <li *ngFor="let item of usedFor; trackBy: trackUsedForByIndex"
            [innerHTML]="sanitize(item)"
            style="margin-bottom: 1em;"
        >
        </li>
    </ul>
</div>
