<div style="position: fixed; width: 75%; height: 87%; top: 5%; left: 15%; display: flex; flex-direction: column; overflow: scroll;
z-index: 2;" [ngStyle]="{'background-color': techOrSkill['backgroundColor'], 'color': techOrSkill['color']}">
    <div style="display: flex; justify-content: space-between; align-items: center; border-style: solid; border-color: lightgray;
    border-top: none; border-left: none; border-right: none; padding: 0.5em 1.5em; border-width:0.08em;">
        <div style="display: flex; align-items: center; gap: 1em;">
            <img [src]="'images/' + techOrSkill['image']" style="pointer-events: none; height: 2em; width: 2em; object-fit:
            contain;">

            <h2>{{ techOrSkill['name'] }} - {{ techOrSkill['type'] }}</h2>
        </div>

        <img src="images/thinGrayXIcon.png" (click)="closePopup.emit()" style="cursor: pointer; height: 1.3em; width: 1.3em;">
    </div>

    <div style="padding: 0.5em 1.5em; margin-top: 1.5em;">
        <h2>Places Used:</h2>

        <li *ngFor="let item of techOrSkill['usedFor'];"
            [innerHTML]="sanitize(item)"
            style="margin-bottom: 1.7em; font-family: Plus Jakarta Sans; max-width: 95%; overflow-wrap: break-word;"
        >
        </li>
    </div>
</div>