<TopSection
    [currentTheme]="currentTheme"
    [readingModeOn]="readingModeOn"
    [readingModeFont]="readingModeFont"
    [readingModeTextSize]="readingModeTextSize"
    [readingModeTextColor]="readingModeTextColor"
    [readingModeBackgroundColor]="readingModeBackgroundColor"
    (updateTheme)="updateTheme($event)"
    (toggleReadingMode)="toggleReadingMode()"
    (updateReadingModeFont)="updateReadingModeFont($event)"
    (updateReadingModeTextSize)="updateReadingModeTextSize($event)"
    (updateReadingModeTextColor)="updateReadingModeTextColor($event)"
    (updateReadingModeBackgroundColor)="updateReadingModeBackgroundColor($event)"
    (updateDarkScreen)="updateDarkScreen($event)"
/>

<BriefIntro
    [initialAnimationsAreFinished]="initialAnimationsAreFinished"
    [currentTheme]="currentTheme"
    [readingModeOn]="readingModeOn"
    [readingModeFont]= "readingModeFont"
    [readingModeTextSize]="readingModeTextSize"
    [readingModeTextColor]="readingModeTextColor"
    [readingModeBackgroundColor]="readingModeBackgroundColor"
    [displayDarkScreen]="displayDarkScreen"
    (closeAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
    (notifyParentThatInitialAnimationsAreFinished)="initialAnimationsAreFinished = true"
/>

<RelevantExperience *ngIf="initialAnimationsAreFinished"
    [currentTheme]="currentTheme"
    [readingModeOn]="readingModeOn" 
    [readingModeFont]= "readingModeFont"
    [readingModeTextSize]="readingModeTextSize"
    [readingModeTextColor]="readingModeTextColor"
    [readingModeBackgroundColor]="readingModeBackgroundColor"
    [displayMacbook]="displayRelevantExperienceSectionMacbookIcon"
    [displayDarkScreen]="displayDarkScreen"
    (closeAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<PenultimateSection *ngIf="initialAnimationsAreFinished && !readingModeOn"
    [currentTheme]="currentTheme"
    [displayDarkScreen]="displayDarkScreen"
    (closeAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<LastSection *ngIf="initialAnimationsAreFinished"
    [currentTheme]="currentTheme"
    [readingModeOn]="readingModeOn" 
    [readingModeFont]= "readingModeFont"
    [readingModeTextSize]="readingModeTextSize"
    [readingModeTextColor]="readingModeTextColor"
    [readingModeBackgroundColor]="readingModeBackgroundColor"
    [displayDarkScreen]="displayDarkScreen"
    (closeAllPopups)="closeAllPopupsAfterClickingDarkScreen()"
/>

<TechOrSkillPopup *ngIf="displayTechOrSkillsPopup"
    [currentTheme]="currentTheme"
    [techOrSkill]="techOrSkillForPopup"
    (closePopup)="displayTechOrSkillsPopup = false"
/>